<!DOCTYPE html><html lang="en" style=""><head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>SmartClaim AI</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<section>
<div class="bg-white">
<div class="relative isolate overflow-hidden bg-gradient-to-b from-blue-300/20">
<div class="mx-auto max-w-7xl pb-24 pt-10 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:py-40">
<div class="px-6 lg:px-0 lg:pt-4">
<div class="mx-auto max-w-2xl">
<div class="max-w-lg">
<div class="mt-24 sm:mt-32 lg:mt-16">
<a class="inline-flex space-x-6" href="#">
<img alt="SmartClaim AI" class="h-10 w-auto object-contain" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDiOfNnbXoDOfGSZG1poP04GCKSwPSSudDnGcKS_v-mJtcou99rwxswYYgLfeqWR6vIGJQESytp-psX-ZIUCLuFU4bc7eh3hjpktksbXyy8MWgPNXA1M7Znlv9--mdJgWqn3iavMna_7JwrcLVa6HXds8WUgABoOCxoFtEuSEVMDJL64eKq3hKZMSB1aibsMBf46I0iZgCp6RInYHSXaNEmEUHfzwFBRcuiZXk_zqex_tOk4J8w77XPaslHHL10kobpPUQczEy9vlmdmpw">
<span class="inline-flex items-center space-x-2 text-sm font-medium leading-6 text-gray-600 font-serif">
<span class="">SmartClaim AI | Insurance Claim Service </span>
<svg aria-hidden="true" class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
<path clip-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" fill-rule="evenodd"></path>
</svg>
</span>
</a>
</div>
<h1 class="mt-10 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">AI-powered Claims&nbsp;</h1>
<p class="mt-6 text-lg leading-8 text-gray-600">Simplify your claims process with our efficient and reliable service. We're here to support you every step of the way,
                            ensuring a smooth and hassle-free experience during uncertain times.
                            </p>
</div>
</div>
</div>
<div class="mt-20 sm:mt-64 md:mx-auto md:max-w-2xl lg:mx-0 lg:mt-0 lg:w-screen flex justify-center items-center bg-blue-300 rounded-tr-full rounded-bl-full rounded-">
<img alt="Insurance Claim Document" class="drop-shadow-2xl object-contain" height="250" src="https://res.cloudinary.com/dtsuvx8dz/image/upload/v1711259786/uybnwvwbfyyq8ej8ziz0.gif" width="250">
<div class="px-6 pb-14 sm:pt-6 pt-32 pl-1 sm:pl-3 font-bold font-mono text-md sm:text-2xl text-white drop-shadow-2xl">
<p class="">Quick, <br> Reliable,<br> Hassle-Free <br> PROCESS</p>
</div>
<div aria-hidden="true" class="pointer-events-none absolute inset-0 ring-1 ring-inset ring-black/10 md:rounded-3xl"></div>
</div>
</div>
<div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"></div>
</div>
</div>
</section>
<section class="">
<div class="space-y-5 divide-y divide-gray-900/10 max-w- flex justify-center bg-gradient-to-t from-blue-600/20 py-12">
<div class="grid grid-cols-1 gap-x-8 gap-y-8 pt-4 md:grid-cols-3">
<div class="px-4 sm:px-0">
<h2 class="text-2xl font-bold leading-7 text-gray-900">Insurance Claims</h2>
<p class="mt-1 text-md leading-6 text-gray-600">Please provide accurate information to verify your claim.</p>
<img alt="Insurance Claims Illustration" class="mt-4 object-contain" height="300" src="https://res.cloudinary.com/dtsuvx8dz/image/upload/v1711281782/wjmjc8ggzcgx14gvl0sy.gif" width="300">
</div>
<form action="" class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2 mb-12" enctype="multipart/form-data" method="post">
<div class="px-4 py-6 sm:p-8">
<div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
<div class="sm:col-span-4">
<label class="block text-sm font-medium leading-8 text-gray-900" for="name">Submit claim for</label>
<div class="mt-2">
<input autocomplete="name" class="pl-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" id="name" name="name" type="text">
</div>
</div>
<div class="sm:col-span-3">
<label class="block text-sm font-medium leading-6 text-gray-900" for="claim_type">Claim item</label>
<div class="mt-2">
<select autocomplete="claim_type" class="pl-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" id="claim_type" name="claim_type" type="claim_type">
<option disabled="" selected="">Please Select</option>
<option value="General Practitoner">General Practitoner</option>
<option value="Specialist">Specialist</option>
<option value="Prescribed Western Medication">Prescribed Western Medication</option>
<option value="Diag. Imaging &amp; Lab Tests">Diag. Imaging &amp; Lab Tests</option>
<option value="Health Check-up">Health Check-up</option>
<option value="Bonesetter">Bonesetter</option>
<option value="Vaccination">Vaccination</option>
<option value="Specialist">Specialist</option>
<option value="Physiotherapist">Physiotherapist</option>
<option value="Chiropractor">Chiropractor</option>
<option value="Dental Consultation">Dental Consultation</option>
<option value="Psychiatric-related Treatments">Psychiatric-related Treatments</option>
</select>
</div>
</div>
<div class="sm:col-span-3">
<label class="block text-sm font-medium leading-6 text-gray-900" for="claim_reason">Claim Reason</label>
<div class="mt-2">
<input autocomplete="claim_reason" class="pl-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" id="claim_reason" name="claim_reason" type="text">
</div>
</div>
<div class="sm:col-span-6">
<label class="block text-sm font-medium leading-6 text-gray-900" for="address">Patient Address</label>
<div class="mt-2">
<input autocomplete="address" class="pl-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" id="address" name="address" type="textarea">
</div>
</div>
<div class="sm:col-span-4">
<label class="block text-sm font-medium leading-6 text-gray-900" for="date">Date of treatment</label>
<div class="mt-2">
<input autocomplete="date" class="pl-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" id="date" name="date" type="date">
</div>
</div>
<div class="sm:col-span-3">
<label class="block text-sm font-medium leading-6 text-gray-900" for="medical_facility">Medical Facility</label>
<div class="mt-2">
<input autocomplete="medical_facility" class="pl-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" id="medical_facility" name="medical_facility" type="text">
</div>
</div>
<div class="sm:col-span-3">
<label class="block text-sm font-medium leading-6 text-gray-900" for="total_claim_amount">Claim Amount</label>
<div class="mt-2">
<input autocomplete="total_claim_amount" class="pl-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" id="total_claim_amount" name="total_claim_amount" type="number">
</div>
</div>
<div class="sm:col-span-6">
<div class="bg-blue-200 text-sm w-full p-4 rounded-xl font-light text-blue-800">
<p class="">📝 Make sure your payment receipt includes:</p>
<ul class="list-disc ml-8">
<li class="">The patient's name</li>
<li class="">Treatment date</li>
<li class="">Diagnosis</li>
<li class="">Breakdown of changes</li>
</ul>
<p class="py-3">Please note that some of the information might be printed at the back of the receipt.</p>
</div>
</div>
<div class="sm:col-span-4">
<label class="block text-sm font-medium leading-6 text-gray-900" for="medical_bill">Consultation Receipt</label>
<div class="mt-2">
<input ,autocomplete="medical_bill" class="pl-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" id="medical_bill" name="medical_bill" required="" type="file">
</div>
</div>
<div class="sm:col-span-6">
<label class="block text-sm font-medium leading-6 text-gray-900" for="description">Description</label>
<div class="mt-2">
<input autocomplete="description" class="pl-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6" id="description" name="description" type="text">
</div>
</div>
</div>
</div>
<div class="flex items-start justify-start gap-x-6 border-t border-gray-900/10 w-3xl py-4 sm:px-8">
<input ,="" class="rounded-md bg-blue-600 px-3 py-3 text-sm font-base text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 w-40" type="submit" value="submit">
</div>
</form>
</div>
</div>
</section>





</body></html>